<% layout("/layouts/boilerplate.ejs") %>

<body>
  <br>
  <div class="row offset-2">
    <div class="col-8">
      <h3>Edit Listing</h3>
      <form method="POST" 
        action="/listings/<%=listing._id%>?_method=PUT" 
        novalidate 
        class="needs-validation"
        enctype="multipart/form-data"
        >
        <div class="mb-3">
          <label for="tile" class="form-label mt-3">Title</label>
          <input type="text" name="listing[title]" value="<%=listing.title%>" class="form-control" required>
          <!--by doing this we are making a listing object title is its key and it will hahve some value-->
          <div class="invalid-feedback">Required</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
          <div class="invalid-feedback">Required</div>
        </div>

        <div class="mb-3">
          Original Listing Image <br>
          <img src="<%=orgImgUrl%>">
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">
          <div class="col-4 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%=listing.price%>" class="form-control" required>
            <div class="invalid-feedback">Required</div>
          </div>

          <div class="col-8 mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=listing.country%>" class="form-control" required>
            <div class="invalid-feedback">Required</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" value="<%=listing.location%>" class="form-control" required>
          <div class="invalid-feedback">Required</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
      </form>
    </div>
  </div>

</body>