<% layout("/layouts/boilerplate.ejs") %>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3 mb-3">
            <h2>Listing Details:</h2>
        </div>
        <div class="card col-6 offset-2" style="width: 30rem;">
            <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="Image">
            <div class="card-body">
                <h5 class="card-title mt-3"><b><%=listing.title%></b></h5>
                <p class="card-text"><%=listing.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> &#8377; <%=listing.price.toLocaleString("en-IN")%></li>
                <li class="list-group-item"><%=listing.location%></li>
                <li class="list-group-item"><%=listing.country%></li>
            </ul>`
            <div class="card-body btns">
                <a href="/listings/<%=listing._id%>/edit" class="card-link btn btn-dark">Edit</a><br>
                <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                    <button class="btn btn-dark">Delete</button>
                </form>
            </div>
        </div>

    </div>
</body>